.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.users {
    background-color: cornflowerblue;
}

.dialogsItem {
    padding: 10px;
}

.dialogsItem .active {
    color: gold;
}

.dialog {

}

.messages {
    padding: 10px;
    background-color: brown;
}

.message {

}

.buttonSendMessageDialog {

}