.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.users {
    background-color: lightgrey;
    text-align: center;
    padding: 25px;

}

.users a {
    color: white;
    text-decoration: none;
}

.dialogsItem {
    padding: 10px;
}

.dialogsItem .active {
    color: gold;
}

.dialog {

}

.messages {
    padding: 10px;
    background-color: whitesmoke;
}

.message {

}

.buttonSendMessageDialog {

}
